ipdb >= 0.13.13
jupyterlab >= 4.0
matplotlib >= 3.10.1
nbformat >= 5.7.0
numpy >= 2.0.2
pandas >= 2.2.1
psutil >= 5.9.5
pytest >= 7.4.0
requests
tensorflow >= 2.18.0
tiktoken >= 0.9.0
torch >= 2.6.0
tqdm >= 4.66.1
transformers >= 4.33.2
thop